:root {
    font-size: 16px;
}

.container {
    margin-left:0;
    font-family: Arial, sans-serif;
}

.camera-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.camera-container h2 {
    text-align: center;
}

.camera-iframe {
    width: 100%;
    height: 75vh;
    background-color: blue; /* Adjust the height as needed */
    object-fit: contain;
}

.doorControl {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.doorControl button {
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add responsive styles as needed */
@media screen and (max-width: 600px) {
    .container{
        margin-left: 0;
        margin-bottom: 110px;
    }
    .camera-container {
        grid-template-columns: 1fr;
    }
}